<%= form_for(@book, url: yield(:action_url)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>

  <%= f.label :chapters %>
  <div id="book_chapters_box">
    <ul id="sortable">
    <%= f.fields_for :chapters do |c| %>
      <li class="ui-state-default" id="<%= "add_chapter_#{c.index}" %>">
      <div class="js-book_chapter input-group">
        <%= c.hidden_field :row_order_position, value: (c.index + 1 || 1) %>
        <%= c.text_field :title,
                  placeholder: "chapter_title",
                  class: 'form-control' %>
        <%= c.check_box :_destroy, class: 'delete-chapter-box' %>
        <% title = c.object.title || 'default' %>
        <span class="chapter_delete input-group-btn"
              data-id="<%= "#{c.index}" %>", data-default='<%= title %>'>
          <button type="button" class="btn btn-warning">-</button>
        </span>
      </div>
      </li>
    <% end %>
    </ul>
  </table>
  </div>
  <p id="add_item_button">
    <button type="button" class="btn btn-secondary">+</button>
  </p>
  <%= f.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>

<script>
$(function() {
  $( "#sortable" ).sortable({
    update: function(e, ui) {
      console.log("update");
      childs = $(e.target).children('li');
      console.log(childs);
      var i = 0;
      $(e.target).children('li').each(function() {
        $(this).children('div').children('input')[0].value = i
        i++;
      });
    },
    start: function(e, ui) {
    },
    stop: function(e, ui) {
    }
  })
});

$(function() {
  var chapter_num = $('.js-book_chapter').length;
  $('#add_item_button').on('click', function() {
    var input =
      '<li class="ui-state-default" id="add_chapter_' + chapter_num + '">'
      + '<div class="js-book_chapter input-group">'
      +   '<input class="form-control chapter-number" type="hidden" name="book[chapters_attributes][' +     chapter_num + '][row_order_position]" id="book_chapters_attributes_' + chapter_num + '_row_order" value="' + (chapter_num + 1) + '" required>'
      +   '<input class="form-control" placeholder="chapter title" type="text" name="book[chapters_attributes][' +   chapter_num + '][title]" id="book_chapters_attributes_' + chapter_num + '_title" required>'
      +   '<span class="chapter_delete input-group-btn" data-id="' + chapter_num + '" data-default="default">'
      +     '<button type="button" class="btn btn-warning">-</button>'
      +   '</span>'
      +  '</div>'
      +'</li>'
    $('#sortable').append(input);
    chapter_num ++;
  });

  $('#book_chapters_box').on('click', '.chapter_delete', function() {
    var inputId = $(this).data('id');
    var defaultData = $(this).data('default');
    if (defaultData == 'default') {
      $('#add_chapter_' + inputId).remove();
    }else{
      $(this).prev().prop('checked', true);
      $('#add_chapter_' + inputId).hide();
    }
  });
});

</script>
