<% provide(:title, @book.title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="book_info">
      <h1>
        <%= @book.title %>
      </h1>
      <% if current_user.book_owner?(@book) || current_user.admin? %>
        <%= link_to "delete", @book, method: :delete, date: {confirm: "You sure?"} %>
         | <%= link_to "edit", edit_book_path(@book) %><br>
      <% end %>
      <%= @book.content %>
      <% if @tags.any? %>
        <h4>Tags</h4>
        <% @tags.each do |tag| %>
          <%= link_to "#{tag.name}", tag_path(tag) %>
          <%= "/" %>
        <% end %>
        <br>
        <%= link_to "Manage tags", tag_manager_book_path(@book) %>
      <% end %>
      <% if @users.any? %>
        <h4>Reading users</h4>
        <ul class="users">
          <% @users.each do |user| %>
            <li class="user">
              <%= link_to "#{user.name}", user_path(user) %>
              <%= "@#{user.screen_name}" %>
              <% bookuser = user.book_users.find_by(book_id: @book.id) %>
              <strong class="read_status"><%= "#{bookuser.read_status.to_i}%" %></strong>
            </li>
          <% end %>
        </ul>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'registration_form' if logged_in? %>
    <ol class="chapters">
      <h3>Chapters</h3>
      <% if @book_user %>
        <h3>You are reading <%= "#{@book_user.read_status.to_i}%" %></h3>
        <%= render @chapters %>
      <% end %>
    </ol>
  </div>
</div>
